body, html {
    height: 100%;
    /* font-family: 'Alegreya Sans SC', sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
}

.btn {
    transition: all 0.3s ease-in-out;
}

@media(max-width:768px) {
    #header {
        text-align:center;
    }
    #header img {
        margin:0 auto;
    }
    #social {
        text-align:center;
    }
    #social hr, #about hr{
        margin:8% auto;
    }
    #about {
        text-align: center;
    }
    #about img {
        margin-top: 15%;
    }
    #footer {
        text-align: center;
    }
}

.navbar{
    /* background-color:rgba(21, 31, 33, 0.2); */
    background-color: #001b2a; 
    border-bottom: 1px solid #efefef;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.navbar .navbar-nav .nav-link {
    color: goldenrod !important;
}

.navbar .navbar-nav .nav-link:hover {
    color: #fff !important;
}

.navbar-toggler-icon{
    color: goldenrod;
}


/* HEADER */

#header {
    background-image:url('../images/beach.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;   
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
}

#header img {
    padding: 30% 0;
    padding-left: 10%;
    width: 80%;
}

#header .header-right {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 85px;
}

.header-left {
    background-color: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 85px;
}

#header .fa {
    margin: 10% 0;
}

#header p {
    color: white;
}

h6 {
    font-size: 30px;
}

a {
    color: goldenrod;
}

.navbar .nav-item .dropdown-menu .dropdown-item {
    color: goldenrod !important;
}




/* SOCIAL */

#social {
    padding: 4.25rem 0;
    color: #001b2a;
}

#social .list-inline-item {
    font-size: 1.5em;
    color: goldenrod;
    border: 2px solid goldenrod;
    width: 60px;
    height: 60px;
    border-radius: 30%;
    text-align: center;
    padding: 2% 0; 
    margin-top:10px;
    transition:all 0.4s ease-in-out;
}


#social .list-inline-item:hover {
    color:goldenrod;
    background:#001b2a;
}

/* WORKSHOP */



/* ABOUT */

#about {
    padding:5rem 0;
    background-color:#f6f6f6;
}

#about img {
    padding-top: 10%;
}

#about .btn-who {
    background-color: #001b2a;
    color: goldenrod;
    width: 50%;
}

#about .btn-who:hover {
    background-color: transparent;
    border:1px solid #001b2a;
    width: 50%;
}

/* WHY */

#why {
    padding:5rem 0;
    /* background-color:#f6f6f6; */
}

#why, .fas {
    color: goldenrod !important;
    padding: 5rem 0 !important;
}

#why h2, p {
    color: #001b2a;
}

/*CUSTOMERS*/

#customers {
    padding: 5rem 0;
    background-color: #f6f6f6;
}

#customers .carousel-indicators li {
    background-color: goldenrod;
}

#customers .carousel-inner {
    margin-bottom: 50px;
}

#customers .carousel-indicators {
    margin-bottom: -50px;
}

/*CONTACT*/

#contact {
    padding:5rem 0;
    color: #001b2a;
}

#contact .btn-block {
    background-color: #001b2a;
    color: goldenrod;
}

#contact .btn-block:hover {
    background-color: transparent;
    border:1px solid #001b2a;
}

/* FOOTER */

#footer {
    padding:2rem 0;
    background-color:#001b2a;
    color:white !important; 
}
#footer p {
    color: white;
}
#footer .fa {
    padding:0 5px;
}



/* body {
    background-image:url('../images/house-front-fullHD.jpg');
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; 
    
} */

/* h3, h2, p {
    text-align: center;
}

/* Contact */

/* #contact{
    padding: 5rem 0;
    position: center;
} */ 